*{
    margin: 0;
    padding: 0;
    -webkit-perspective: 5000; 
    perspective: 5000;
    transform:  scale(0.6);
}

html,body{
    display: flex;    
    width: 100%;
    height: 100%;
    /* overflow: hidden; */

    background-color: black;
    /* animation: animatebg 10s linear infinite; */
}
@keyframes animatebg{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.center{
    height: 100px;
    width: 50px;
    left: 0;
    right: 0;
    top: 30%;
    position: absolute;
    margin-left: 0%;
    margin-top: 20%;
    /* background-color: antiquewhite; */

}
.outer{
    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    /* background-color: aqua; */
    
}

.circle{
    border-radius: 50%;
    background: #de0b46;
    box-shadow: 0 -20px 80px 50px hsl(343, 91%, 46%);
    transform: translate(-50%,-100%);
    
}

.o1{
    transform: translate(100px,-50%);
    
}

.o1 span{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #de0b46;
    box-shadow: 0 0 20px 0 #de0b46; */
    transform-origin: -100px 0;
    transform: rotateY(0deg) rotate(calc(10deg * var(--i)));
    

}

.o1 span::before{
    content: '';
    position: absolute;
    width: 5px;
    /* border-radius: 2px; */
    height: 40px;
    background: #de0b46;
    box-shadow: 0 0 30px 10px #de0b46;
    /* transform-origin: 100px 0; */
    animation: animate 0.45s linear infinite;
    animation-delay: calc(0.05s * var(--i));
    opacity: 0;
    
    

}
@keyframes animate{
    0%{
        transform: scale(1) rotate(20deg) ;
        opacity: 1;
    }
    100%{
        transform: scale(1.1);
        opacity: 1;
    }
    
}
.o2{
    transform: translate(300px,-50%);
}
.o2 span{
    position: absolute;
    border-radius: 2px;
    width: 30px;
    height: 5px;
    background: #de0b46;
    box-shadow: 0 0 20px 0 #de0b46;
    transform-origin: -300px 0;
    transform: rotateY(0deg) rotate(calc(10deg * var(--i)));

}

.o3{
    transform: translate(400px,-50%);
}


.o3 span{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #de0b46;
    box-shadow: 0 0 20px 0 #de0b46; */
    transform-origin: -400px 0;
    transform:rotateY(-0deg) rotate(calc(-4deg * var(--i)));
    

}

.o3 span::before{
    content: '';
    position: absolute;
    border-radius: 2px;
    width: 50px;
    height: 5px;
    background: #55e2f9;
    box-shadow: 0 0 20px 0 #55e2f9;
    /* transform-origin: 400px 0; */
    /* transform: rotate(calc(4deg * var(--i))); */
    animation: animate3 0.45s linear infinite;
    animation-delay: calc(0.05s * var(--i));
    opacity: 1;
    

}
@keyframes animate3{
    0%{
        transform: scale(1) rotate(20deg) ;
        opacity: 1;
    }
    100%{
        transform: scale(1.1);
        opacity: 0;
    }
    
}


/*.o3 span{
    position: absolute;
    border-radius: 2px;
    width: 50px;
    height: 5px;
    background: #55e2f9;
    box-shadow: 0 0 20px 0 #55e2f9;
    transform-origin: 400px 0;
    transform: rotate(calc(4deg * var(--i)));
    animation: animate1 3s linear infinite;

}
@keyframes animate1{
    0%{
        transform: scale(1);
    }
    80%,100%{
        transform: scale(0);
    }
    
}
 */
.o4{
    transform: translate(450px,-50%);
}
.o4 span{
    position: absolute;
    border-radius: 2px;
    width: 6px;
    height: 5px;
    background: #de0b46;
    box-shadow: 0 0 20px 0 #de0b46;
    transform-origin: -450px 0;
    transform:rotateY(0deg) rotate(calc(7deg * var(--i)));
    animation: ani 1s ;
}
.o5{
    transform: translate(500px,-50%);
    /* background-color: white; */
    height: 56px;
    width: 56px;
    margin-top: -25px;
    /* top:50%; */
    
}

.oo5 {
    position: absolute;
    border-radius: 100px;
    width: 300px;
    height: 50px;
    border: 3px solid #de0b46;
    font-weight: 900;
    /* padding: 30px; */
    font-size: 40px;
    background: transparent;
    box-shadow: 0 0 55px rgba(222, 11, 70, 0.77);
    transition: all 1s .1s;
    color: white;
    text-align: center;
    transform-origin: -500px 50% ;
    transform:rotateY(0deg) rotate(calc(10deg * var(--j)));
    animation: ani 3s ;
}

.oo5:nth-child(6n){
    /* animation: anii 3s linear infinite; */
    /* transform:rotateY(0deg) rotate(calc(10deg * var(--j))); */
    /* border: 3px solid black;
    box-shadow: 0 0 55px rgba(0,0, 0, 0.77); */
    background-color: deeppink;
}



@keyframes anii{



    
    0%{
        transform: scale(0) translate(0) rotate(calc(30deg * var(--j)));
        box-shadow:none;

    }
    25%{
        transform: scale(1) translate(0) rotate(calc(30deg * var(--j)));
        background: transparent;
        box-shadow:none;

        
    }

    49%{
        background: deeppink;

        
    }
    50%,52%{
        background: white;
        /* box-shadow: 0 0 55px white; */
        /* opacity: 0; */
    }
    51%,55%{
        background: deeppink;

        box-shadow: 0 0 55px rgba(222, 11, 70, 0.77);
    }
    49%,56%{
        transform: rotateY(0deg) translate(0) rotate(calc(20deg * var(--j)));

    }
}

/* .oo5::after{
    content: "";
    position: absolute;
    border-radius: 100px;
    width: 300px;
    height: 50px;
    border: 3px solid white;
    font-weight: 900;
    font-size: 30px;
    background: transparent;
    box-shadow: 0 0 25px rgba(222, 11, 70, 0.27);
    transition: all 1s .1s;
    text-align: center;
    color: white;
    background: deeppink;
    box-shadow: 0 0 55px rgba(222, 11, 70, 0.77);
    animation: blink .5s 1s ;

} */

@keyframes ani{



    
    0%{
        transform: scale(0) translate(0) rotate(calc(180deg * var(--j)));
        box-shadow:none;

    }
    25%{
        transform: scale(1) translate(0) rotate(calc(180deg * var(--j)));
        background: transparent;
        box-shadow:none;

        
    }

    49%{
        background: deeppink;

        
    }
    50%,52%{
        background: white;
        /* box-shadow: 0 0 55px white; */
        /* opacity: 0; */
    }
    51%,55%{
        background: deeppink;

        box-shadow: 0 0 55px rgba(222, 11, 70, 0.77);
    }
    49%,56%{
        transform: rotateY(0deg) translate(0) rotate(calc(60deg * var(--j)));

    }
}


.oo5 label{
    border-radius: 100px;
    height: 100%;
    /* opacity: 0; */
    display: block;
    width: 100%;
    position: absolute;
    /* left: 50%; */
    /* background-color: dodgerblue; */
    transition: all .2s .3s;
    /* animation: la 3s; */
}


@keyframes la {
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
}


.oo5:nth-of-type(1) .list{

    border-radius: 100px;
    border: 3px solid #de0b46;
    font-weight: 900;
    /* padding: 30px; */
    font-size: 30px;
    /* background: transparent; */
    box-shadow: 0 0 55px rgba(222, 11, 70, 0.77);
    color: white;
    text-align: center;



    
    border-radius: 100px;
    height: 100%;
    opacity: 0;
    display: block;
    width: 100%;
    position: relative;
    /* left: 50%; */
    background-color: dodgerblue;
    transition: all .3s .3s;
    top: 100%;
    transform: translateY(calc(20% * var(--L)));
    /* animation: list 1s .3s;
    animation-delay: 2s; */
}
@keyframes list{
    0%{
        transform: translateY(calc(-100% * var(--L)));

    }
}





.oo5:not(:nth-of-type(6n)) label{
    opacity: 0;
}

.oo5 .line{
    opacity: 1;
    position: absolute;
    width: 480px;
    height: 3px;
    left: -480px;
    /* transform: rotateZ(4deg); */
    transform-origin: center;
    top: 28px;
    background: #de0b46;
    transition: all .4s .2s;
    opacity: 0;
}

.oo5 label:hover{
    cursor: pointer;
    color: white;
    background: deeppink;
    box-shadow: 0 0 55px rgba(222, 11, 70, 0.77);
    animation: blink .2s .1s ;
}
@keyframes blink{
    0%,2%,30%{
        background: white;
        box-shadow: 0 0 55px white;
        opacity: 0;
    }
    1%,5%,100%{
        box-shadow: 0 0 55px rgba(222, 11, 70, 0.77);
    }
}
.oo5:hover .line{
    opacity: 1;
    animation: blink .2s .1s;

}

input[type="radio"]{
    position: absolute;
    z-index: 100;
    opacity: 0;
}
input[type="checkbox"]{
    position: absolute;
    z-index: 100;
    opacity: 0;
}


.o5 input[type="radio"]:nth-child(1):checked ~ .oo5:nth-of-type(1) .line
{
    opacity: 1;

}
.o5 input[type="radio"]:nth-child(1):checked ~ .oo5:nth-of-type(1) .major
{
    opacity: 1;
    background-color: deeppink;

}
.o5 input[type="radio"]:nth-child(1):checked ~ .oo5:nth-of-type(1) .list
{
    transform: translateY(calc(20% * var(--L)));
    animation: list 3s .3s;
    transition-delay: 1s;
    opacity: 1;
}

.o5 input[type="radio"]:nth-child(2):checked ~ .oo5:nth-of-type(2) .major
{
    opacity: 1;
    background-color: deeppink;

}
.o5 input[type="radio"]:nth-child(2):checked ~ .oo5:nth-of-type(2) .list
{
    transform: translateY(calc(20% * var(--L)));
    animation: list 3s .3s;
    transition-delay: 1s;
    opacity: 1;
}

.o5 input[type="radio"]:nth-child(3):checked ~ .oo5:nth-of-type(3) .major
{
    opacity: 1;
    background-color: deeppink;
}
.o5 input[type="radio"]:nth-child(3):checked ~ .oo5:nth-of-type(3) .list
{
    transform: translateY(calc(20% * var(--L)));
    animation: list 3s .3s;
    transition-delay: 1s;
    opacity: 1;
}


.o5 input[type="radio"]:nth-child(1):checked ~ .oo5:not(:nth-of-type(1))
{
    transform:rotateY(0deg) scale(0.5) rotate( calc( -37*10deg + 10deg * var(--j))) ;
}
.o5 input[type="radio"]:nth-child(1):checked ~ .oo5:nth-of-type(1)
{
    transform:rotateY(0deg) scale(1) rotate( calc( -37*10deg + 10deg * var(--j))) ;
}


.o5 input[type="radio"]:nth-child(2):checked ~ .oo5:not(:nth-of-type(2))
{
    transform:rotateY(0deg) scale(0.5) rotate( calc( -38*10deg + 10deg * var(--j))) ;
}
.o5 input[type="radio"]:nth-child(2):checked ~ .oo5:nth-of-type(2)
{
    transform:rotateY(0deg) scale(1) rotate( calc( -38*10deg + 10deg * var(--j))) ;
}


.o5 input[type="radio"]:nth-child(3):checked ~ .oo5:not(:nth-of-type(3))
{
    transform:rotateY(0deg) scale(0.5) rotate( calc( -39*10deg + 10deg * var(--j))) ;
}
.o5 input[type="radio"]:nth-child(3):checked ~ .oo5:nth-of-type(3)
{
    transform:rotateY(0deg) scale(1) rotate( calc( -39*10deg + 10deg * var(--j))) ;
}

.o5 input[type="radio"]:nth-child(4):checked ~ .oo5:not(:nth-of-type(4))
{
    transform:rotateY(0deg) scale(0.5) rotate( calc( -40*10deg + 10deg * var(--j))) ;
}
.o5 input[type="radio"]:nth-child(4):checked ~ .oo5:nth-of-type(4)
{
    transform:rotateY(0deg) scale(1) rotate( calc( -40*10deg + 10deg * var(--j))) ;
}

.o5 input[type="radio"]:nth-child(5):checked ~ .oo5:not(:nth-of-type(5))
{
    transform:rotateY(0deg) scale(0.5) rotate( calc( -41*10deg + 10deg * var(--j))) ;
}
.o5 input[type="radio"]:nth-child(5):checked ~ .oo5:nth-of-type(5)
{
    transform:rotateY(0deg) scale(1) rotate( calc( -41*10deg + 10deg * var(--j))) ;
}




/* .o5 input[type="radio"]:nth-child(2):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( -39*10deg + 10deg * var(--j)));
}

.o5 input[type="radio"]:nth-child(3):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( -39*10deg + 10deg * var(--j)));
} */
/* .o5 input[type="radio"]:nth-child(4):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( -39*10deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(5):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( -39*10deg + 10deg * var(--j)));
} */
.o5 input[type="radio"]:nth-child(6):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 15*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(7):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 7*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(8):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 8*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(9):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 9*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(10):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 10*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(11):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 11*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(12):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 5*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(13):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 13*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(14):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 14*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(15):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 15*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(16):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 16*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(17):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 17*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(18):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 19*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(19):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 19*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(20):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 20*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(21):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 21*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(22):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 22*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(23):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 23*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(24):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 9*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(25):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 25*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(26):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 26*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(27):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 27*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(28):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 28*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(29):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 29*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(30):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 11*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(31):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 31*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(32):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 32*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(33):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 32*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(34):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 32*-30deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(35):checked ~ .oo5
{
    transform:rotateY(0deg) rotate( calc( 32*-30deg + 10deg * var(--j)));
}


/* .o5 input[type="checkbox"]:nth-child(36):checked ~ .oo5:nth-of-type(36)
{
    transform:rotateY(0deg) ;
} */
.o5 input[type="radio"]:nth-child(36):checked ~ .oo5
{
    transform:rotateY(0deg) scale(1) rotate( calc( -39*10deg + 10deg * var(--j)));
}
.o5 input[type="radio"]:nth-child(36):checked ~ .oo5:not(:nth-of-type(n+6)) .major
{
    opacity: 1;
}



.o5 input[type="radio"]:nth-child(36):checked ~ .oo5:nth-of-type(n+6) 
{
    transform:rotateY(0deg) scale(0.5) rotate( calc( -39*10deg + 10deg * var(--j)));
}
/* .o5 input[type="checkbox"]:nth-child(36):checked + input[type="radio"]:nth-child(1):checked~ .oo5:nth-of-type(n+6)
{
    transform:rotateY(0deg) scale(0.5) rotate( calc( -40*10deg + 10deg * var(--j)));
} */











